{% extends "blogs/base.html" %}

{% block content %}

    <p>Blog</p>

    <p>The Blog keeps track of all entries showing the title,text and date
     posted.</p>

     <a href="{% url 'blogs:new_post' %}">Add a new post</a>

     <p>Posts</p>

     <ul>
        {% for post in posts %}
            <li>
                <p>{{ post.title }} - {{ post.date_added|date:"M d, Y H:i" }}</p>
                <p>{{ post.text|linebreaks }} </p>
                <p>
                    <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
                </p>
            </li>
        {% empty %}
            <li>No posts have been added yet.</li>
        {% endfor %}

{% endblock content %}